<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCluGwc9d_fkxszz4OGaUuXTOQVU5nZtig</string>
	<key>GCM_SENDER_ID</key>
	<string>699920154828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.falconFittness</string>
	<key>PROJECT_ID</key>
	<string>felcon-fitness</string>
	<key>STORAGE_BUCKET</key>
	<string>felcon-fitness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699920154828:ios:eae1adf8fca40d9ec28269</string>
</dict>
</plist>